body,html,h1,h2{font-family:helvetica;margin:0;padding:0;}
h1{
	text-align: center;
	font-weight: normal;
	font-size:24px;
	margin:10px 0;
}
.content-wrap{
	padding: 20px;
}
h2{position: absolute;
	right: 0px;
	top:0px;
	line-height: 30px;
	display: inline-block;
	font-size:18px;
	background: #fff;
	padding: 10px;
	border: 1px solid #000
}
.section1,.section2,.section3{ 
	background: #ff3344;
	padding: 10px;
	margin:10px 0;
	box-sizing: border-box;
	border: 1px solid #000;
	float:left;
	width:32%;
	position: relative;
}
.section2{
	margin:0 2%;
}
article{
	margin-top: 50px;
}

@media screen and (min-width:992px) {
	.section1,.section2,.section3{width:32%;}
}
@media screen and (min-width:768px) and (max-width:991px) {
  .section1,.section2{width:49%;}
  .section2{margin:10px 0 0 2%;}
	.section3{width:100%;}
}
@media screen and (max-width:767px) {
	.section1,.section2,.section3{width:100%;float:none;}
	.section2{margin:0;}
}